{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/header.liquid' %}

<article>
    <h1>Codepen</h1>
    <a href="https://codepen.io/KyanTG/pen/QWepBqb">Positions Challenge</a><br>
    <a href="https://codepen.io/KyanTG/pen/KKOWGeY">Hamburger Menu Challenge</a><br>
    <a href="https://codepen.io/KyanTG/pen/VwopGvN">Javascript Oefening</a><br>
    <a href="https://codepen.io/KyanTG/pen/poMgjOM?editors=0110">Flexbox & Responsive</a><br>
    <a href="https://codepen.io/KyanTG/pen/MWNKwvX">Flexbox Position</a><br>
    <a href="https://codepen.io/KyanTG/pen/qBeBMGO">Gradients 1</a><br>
    <a href="https://codepen.io/KyanTG/pen/oNKNaqw">Gradients 2</a><br>
    <a href="https://codepen.io/KyanTG/pen/GRbbjgO">Transform & Transition</a><br>
    <a href="https://codepen.io/KyanTG/pen/QWXYeeM">Grid 2</a><br>
    <a href="https://codepen.io/KyanTG/pen/XWLOLRd">Grid 1</a><br>
    <a href="https://codepen.io/KyanTG/pen/ByBojKR?editors=1100">Grid gevorderd</a><br>
    <a href="https://codepen.io/KyanTG/pen/GgKpoQm?editors=1100">Grid webshop</a><br>
    <a href="https://codepen.io/KyanTG/pen/pvzmdwW">hover / tab image with other images that scale [ challenge 9 ]</a>

    <h2>experimenten</h2>
    <a href="https://codepen.io/KyanTG/pen/ByBVBwg?editors=0110">Bouncy sidebar</a>
    
  </article>
  <article>
    <h2>Lijst criteria en indicicatoren van bewijslast sprint 4/5/6</h2>
  </article>

  <article class="block">

    <h2>I Love Web  Dion Pieters</h2>
    <p>
    Aantekeningen i love web Dion Pieters<br><br>
    
    concept creation - art of development<br>
    gewerkt active theory<br>
    
    statements?: <br><br>
    
    ''maak je portfolio zo dat het precies uitbeeld aan wat voor projecten jij het leuk vind om te werken, hiermee zul je ook zulke klanten aanspreken die dat zoeken.''
    <br>''you are the worst client bij jezelf''<br><br>
    
    vragen die die aan zichzelf heeft gesteld voordat hij voor zichzelf begon<br>
    
   <br> - moet een developer kunnen designen en moet een designer kunnen developen?: hij is het niet met deze stelling eens omdat je altijd kritiek hebt op je eigen werk.
   <br> - moet iedere element op je site een vorm van animatie hebben? jazeker, een website moet animatie's hebben en ook gekke animatie's.
    
   <br><br>Dions opbouw portfolio met designer in figma:<br>
    
    - analyseren wat bij mij past, en verglijkbare designs opzoeken.<br>
    - wat wil ik laten zien?<br>
    - ideëen schetsen / samenvoegen en daarna uitwerken in figma.<br><br>
    
    website voor easings en outings :<br><br>
    
    easings.net</p><br>
  </article>

  <article class="block">

    <h2>I Love Web Cassie Evans</h2>
    <p>Werkt bij GSAP</p>
    <p>Animatie bibliotheek die je van alles laat animeren, van simpele dingen tot meer complex zoals 3d dingen.</p>
    <p>De diepte van GSAP is bizar, elke keer als je er naar kijkt zie je weer nieuwe mogelijkheden</p>
    <p>je kan bijvoorbeeld met GSAP makkelijk diverse animatie timelines laten starten, een stuk makkelijker dan met CSS.</p>
    <p>een van de populairste gebruikte functies is de scroll triggers</p>
    <p>een van de minder populaire gebruikte functies is de utils bibliotheek</p>
    <p>prefers-reduced-motion is handig om te gebruiken zodat het toegankelijker is voor mensen die snel duizelig worden van animaties.</p>
    <p>met control methods kan je dingen animeren zoals met pauze / reversal button, maar ook met bijvoorbeeld een scroll bar om de animatie te versnellen.</p>
    <p>helper functions kan je gebruiken om problemen op te lossen van klanten / jezelf</p>
    <p>met container animation kan je bijvoorbeeld een pagina maken waarin een container horizontaal scrollt inplaats van verticaal</p>

    {% comment %} fotos {% endcomment %}
     <p>met ease visualizer kan je aparte eases maken waardoor je bijvoorbeeld een bliksem animatie kan maken</p>
     <img src="">
     <p> met setmaps / utils.mapRange kan je animaties bepalen afhankelijk van schermgrootte waardoor animaties werken op elk grootte scherm</p>
     <img src="">
     <p>met matchmedia() gebruik je GSAP versie van media queries  CSS </p>
     <img src="">
     <p>met container animation kan je bijvoorbeeld een pagina maken waarin een container horizontaal scrollt inplaats van verticaal</p>
     <img src="">

  </article>
  <article class="block">
    <h2>I Love Web Niels Leenheer</h2>
    <p>sinds 1994 bezig met het web</p>
    <p>bezig met webstandaarden en browsers, werkt bij zwolle bij een bedrijf voor kapsalons. Heeft als start een opleiding gedaan bij informatica en kunstacademnie. </p>
    <p>grootste verschil HTML en Javascript is dat je fouten mag maken in HTML, het werkt dan gewoon nog. Het is ook de bedoeling omdat HTML voor iedereen bedoelt is en niet alleen voor mensen met een opleiding of kennis ervan</p>
    <p>Tim Berners-Lee maakte het World Wide Web dat was een browser / editor</p>
    <p>Als een browser iets ziet wat hij niet herkent zoals code wat niet bestaat of fout geschreven dan word dat gewoon genegeerd, het komt wel in de DOM terecht</p>
    <p>er is maar een functie voor de "noscript" tag, het enige doel is om niks te laten zien binnen de noscript tags</p>
    <p>de "blink" tag is een hele oude tag die in de jaren 90 een big deal was, momenteel bestaat deze tag niet meer</p>
    <p>de "marquee" tag is een tag die je tekst naar links en rechts laat gaan zonder CSS</p>
    <p>er zijn 78 states voor HTML die bepalen hoe HTML eruitziet</p>
    <p>vroeger had je MHTML dat was sneller voor mobiel en dat herkende je omdat er een emoij in de tags verwerkt zaten</p>
    <p>Tree builder krijgt tokens van de tokenizer en bouwt daar de DOM tree mee</p>
    <a href="www.nielsleenheer.com">Website Niels</a>

    {% comment %} foto {% endcomment %}
    <img src="">
  </article>

  {% comment %} <article>
    <h2>school opdrachtjes</h2>
    <h3>sort & filter data</h3>
    <p>sort op name doe je door ?sort=name</p>
    <p>filteren op speciafieke naam doe je zo fields=name&filter[name][_starts_with]=D</p>
    <p>filteren op mensen die alleen een birthdate hebben ingevuld is &fields=name,birthdate&filter[birthdate][_nnull]</p>
    <p>filteren op 2 verschillende namen doe je zo &field=name&filter[_or][0][name][_starts_with]=D&filter[_or][1][name][_starts_with]=K</p>
    <p>met truncate kan je ervoor dat er een aantal maximaal worden zichtbaar zijn. {{ "Ground control to Major Tom." | truncate: 25, ", and so on" }}</p>
    <p>met split kan je ervoor zorgen dat namen met kommas onder elkaar komen. </p>
    <p>met append kan je ervoor zorgen dat bijvoorbeeld de .html naam word toegevoegd. {{ "/my/fancy/url" | append: ".html" }}</p>
    <p>met prepend kan je dingen ervoor zeggen zoals.{% assign url = "example.com" %}{{ "/index.html" | prepend: url }} dan komt dus example.com ervoor te staan</p>
    <p>met where kan je een lijstje maken met bijvoorbeeld beschikbare onderdelen. All products:
      {% for product in products %}
      - {{ product.title }}
      {% endfor %}
      
      {% assign kitchen_products = products | where: "type", "kitchen" %}
      
      Kitchen products:
      {% for product in kitchen_products %}
      - {{ product.title }}
      {% endfor %}<br><br>

      en dan krijg je dit als output<br>All products:
      - Vacuum
      - Spatula
      - Television
      - Garlic press
      
      Kitchen products:
      - Spatula
      - Garlic press
      </p>
  </article>

  <article>
    <h2>Redesign studio</h2>
    <h3>Wat gaat goed en wat gaat minder?</h3>
    <p>Ik vind alles wel goed gaan alleen voor mijzelf kan ik tot 1 uur concentreren en dan savonds pas weer goed, ook vind ik het hier erg warm en vind dat er weinig frisse lucht is hierbinnen.</p>
  </article> {% endcomment %}
</body>